@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    --cor1: #fff;
    --cor2: #5A5C8C;
    --cor3: #070540;
    --cor4: #3071F2;

    --font1: 'Raleway', sans-serif;
    --font2: 'Open Sans', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

div[title="conteiner_principal"] {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 20px;

    align-items: center;
}

.cabecalho_divlogo {
    flex: 70%;
    margin-left: 6.5vw;
}

.cabecalho_divlogo > img {
    width: 20%;
}

header > nav {
    flex: 30%;
    width: 20%;
}

.links_cabecalho {
    text-decoration: none;
    color: black;
    font: normal 1em 'Raleway', sans-serif;

    margin: 0px 15px;
}
/* meio da pagina */
main {
    display: grid;
    padding: 50px 20px;
    background: #fff url('../imagem/bg-curve-desktop.svg') no-repeat bottom center;
    background-size: 190% 50%;
    width: 100%;
    height: auto;
    color: black;

    grid-template-areas: 'auto' 'auto';
    row-gap: 150px;
}


.grupo_article1 {
    display: grid;
    width: 100%;
    grid-template-areas: 'auto auto' 'auto auto';

    grid-template-columns: 45% 45%;
    grid-template-rows: 50%;
    justify-content: center;
    column-gap: 5%;
}

section[title="conteiner_texto1"] {
    grid-area: 1/1;
    padding: 20px;
}

section[title="conteiner_texto1"] > h1 {
    font: 700 2.5vw/1.3em var(--font1);
}

section[title="conteiner_texto1"] > p {
    font: 400 1.3vw/1.2em var(--font2);
    padding: 0px 20px 0px 0px;
}

.formulario1 {
    grid-area: 2/1;
    padding: 20px;
}

#inputes {
    display: flex;
}

.formulario1 input[value="Get Started"] {
    background-color: #0950dc;
    font: 1.25vw var(--font1);
    border: none;
    color: white;
    width: 30%;
    padding: 10px 5px;
    margin-left: 5px;
    border-radius: 2px;
}

.formulario1 input[value="Get Started"]:hover {
    background-color: #356ad4;
    cursor: pointer;
}

.formulario1 input#iemail {
    padding: 7px;
    max-width: 100%;
    min-width: 50%;
}

 
.figure1 {
    display: flex;
    width: 100%;
    padding: 20px;
    grid-area: 1/2/ span 2;

    align-items: center;
    justify-content: center;
}


.figure1 > [alt="imagem-illustration"] {
    width: 100%;
}

[alt="imagem-illustration"] {
    width: 40%;
}

.grupo_article2 {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 'auto auto';
    

    grid-template-columns: 40% 40%;
    grid-template-rows: 100%;
    justify-content: center;
    column-gap: 10%;
}

[title="conteiner_texto2"] {
    grid-area: 1/1;
}

[title="conteiner_texto2"] > h2 {
    font: 700 2vw/1.2em var(--font1);
    margin-bottom: 30px;
}

[title="conteiner_texto2"] > p {
    font-family: 400 1.5vw/1.3em var(--font2);
    margin-bottom: 15px;
}

[title="conteiner_texto2"] > div {
    display: flex;
    width: 170px;
    border-bottom: 2px solid #69a8a2;
    padding-bottom: 5px;

    align-items: center;
    justify-content: flex-start;
}

[title="conteiner_texto2"] > div > a {
    display: block;
    color:#69a8a2;
    text-decoration: none;
}

[title="conteiner_texto2"] > div > a:hover {
    color: #28867c;
}

img[src*="arrow.svg"] {
    display: block;
    margin-left: 12px;
}

.figure2 {
    display: flex;
    width: 100%;

    grid-area: 1/2;

    align-items: center;
    justify-content: center;
}

.figure2 > [alt="imagem-illustration"] {
    width: 90%;
}

aside {
    display: block;
    background-color: white;
    max-width: 27vw;
    min-width: 300px;
    padding: 20px;

    margin-top: 50px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.062);
}

aside > p {
    font: 1.3vw/1.5em var(--font2);
}

#avatar {
    display: flex;

    align-items: center;
    margin-top: 20px;
}

[src*="avatar"] {
    width: 50px;
    display: block;
    border-radius: 100%;
}

div#strong-em {
    display: flex;
    margin-left: 10px;
    
    flex-direction: column;
}

footer {
    width: 100%;
    height: auto;
}

#footer_art1 {
    display: grid;
    width: 100%;
    padding: 100px;
    background-color: #5A5C8C;

    grid-template-areas: 'auto auto';
    grid-template-columns: 45% 45%;
    column-gap: 150px;

    justify-content: center;
}

#cont_texfooter > h2 {
    font: 700 1.8vw var(--font1);
}

#cont_texfooter > p {
    font: 1.2vw/1.5em var(--font2);
    margin-top: 10px;
}

.formulario2 > form > p {
    display: flex;
    flex-direction: column;
}

[placeholder="email@exemple.com"] {
    padding: 7px;
    border-radius: 2px;
    border: none;
    width: 350px;
}

[value="Get Started For Free"] {
    background-color: #0950dc;
    width: 175px;
    font: 0.9em var(--font1);
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 2px;
    margin-top: 10px;
}

[value="Get Started For Free"]:hover {
    background-color: #356ad4;
    cursor: pointer;
}

#footer_art2 {
    display: grid;
    padding: 80px;
    background-color: #070540;

    grid-template-areas: 'auto auto';
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

#footer_art2_section1 {
    display: flex;

    flex-direction: column;
}

#ft_div_logo {
    margin-bottom: 20px;
}

#ft_div_logo > img {
    width: 150px;
}

/* footer > address */
.contato > p {
    margin-bottom: 10px;
}

.contato > p > img {
    margin-right: 10px;
}

.contato > p > em {
    font-family: 0.8em var(--font2);
}
/* ---------------- */

#footer_art2_section2 {
    display: grid;

    grid-template-areas: 'auto auto';
    grid-template-rows: 150px;
    grid-template-columns: 70% 30%;

    justify-content: center;
    align-items: flex-end;
}

#footer_art2_section2 > ul {
    list-style-type: none;

    columns: 2;
}

.footer_li {
    margin-bottom: 5px;
}

.footer_li > a {
    text-decoration: none;
    color: white;
}

.footer_li > a:hover {
    color: #3071F2;
}

#footer_art2_section2 > figure {
    display: grid;
    width: 100%;
    grid-template-areas: 'auto auto auto';
    grid-template-rows: 100px;
    justify-content: center;
}

figure > a[href="##"] {
    display: flex;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    border: 1px solid white;

    justify-content: center;
}

figure > a[href="##"] > img {
    display: block;
    width: 30px;
    margin: auto;
}

figure > a[href="##"]:hover {
    border: 1px solid #3071F2;
}

